name: Pull request CI

on:
  pull_request:
    branches:
      -main

jobs:
  pr-check:
    runs-on: ubuntu-latest

    steps:
      - name: chechout PR code
        uses: actions/checkout@v4

      - name: Run CI checks
        run: |
         echo "Running CI for Pull Request"
         echo "This code is NOT merged yet"
      
